NUXT_DISCORD_CLIENT_TOKEN = xxxxx
NUXT_DISCORD_BOT_TOKEN = xxx.xx.xxx
NUXT_DISCORD_PUBLIC_KEY = xxxxx

NUXT_OPENAI_API_KEY = xx-xxx
NUXT_OPENAI_API_BASE_URL = https://...
NUXT_OPENAI_MODEL = gpt-3.5-turbo

NUXT_PUBLIC_POSTHOG_PUBLIC_KEY = xxx
NUXT_PUBLIC_POSTHOG_HOST = https://app.posthog.com